@inherits LayoutComponentBase

<main class="">

    <header class="
        mt-16 mb-8
        text-center
    ">
        <WhoisApp.WebApp.Components.Layout.Header />
    </header>
        
    @Body

    <footer class="
        mt-16 mb-8
        text-center
    ">
        <WhoisApp.WebApp.Components.Layout.Footer />
    </footer>

</main>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
