<div class="container mx-auto my-4">
    <section class="flex mt-2 gap-6 flex-col md:flex-row">
        <div class="flex-1 rounded-lg shadow-lg p-6">
            <h2 class="text-xl font-semibold mb-2">No Front Running</h2>
            <p>Domaineer does not register or "taste" domains based on searches.</p>
        </div>
        <div class="flex-1 rounded-lg shadow-lg p-6">
            <h2 class="text-xl font-semibold mb-2">Privacy First</h2>
            <p>Domaineer does not track, log, or share your searches with 3rd parties.</p>
        </div>
        <div class="flex-1 rounded-lg shadow-lg p-6">
            <h2 class="text-xl font-semibold mb-2">Open Source</h2>
            <p>Domaineer is fully open source.</p>
        </div>
    </section>
</div>

