@inherits LayoutComponentBase

<main class="flex flex-col">

    <header class="
        mt-16 mb-8
        text-center
    ">
        <Domaineer.WebApp.Components.Layout.Header />
    </header>
        
    <div class="grow">
    @Body
    </div>

    <footer style="margin-top: auto" class="
        mb-8
        text-center
    ">
        <Domaineer.WebApp.Components.Layout.Footer />
    </footer>

</main>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
